@font-face {
    font-family:roboto ;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    font-family: roboto;
}
aside{
    grid-column: 1/span 1;
    grid-row: 1/span 2;
    background-color: blueviolet;
}
header{
    grid-column: 2/span 1;
    grid-row: 1/ span 1;
    background-color: green;
}
main{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    background-color: blue;
}
aside{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.icon{
  filter: brightness(0) invert(1); /* Turns the SVG white */
}
.logo img{
    /* flex: 1; */
    height: 50%;
}
.logo h1{
    padding: 1rem;
}
aside ul{
    list-style: none;
}
.asideUp li, .asideDown li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    position: relative;
    right: 25%;
}
.asideUp img, .asideDown img{
    height: 1rem;
    width:  1rem;
}
.asideUp a, .asideDown a{
    width: 50%;
    text-decoration: none;
    color: white;
}
header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.headerUp, .headerDown{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 0 2rem;
}
.headerIcon{
    height: 1.5rem;
    width: 1.5rem;
}
.headerUpIz, .headerUpDer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 2; */
    gap: 1rem;
    /* height: 50%; */
}
.headerUpIz{
    flex: 1;
    /* height: 50%; */
    
}
.seta{
    height: 100%;
    /* width: 100%; */
    max-height: 8vh;
    border-radius: 100%;
    /* object-fit: contain; */
}

header form {
    background-color: grey;
    padding: 0.5rem;
    border-radius: 2rem;
    width: 80%;
}
header input{
    background-color: transparent;
    width: 100%;
    border: none;
}
header input::placeholder{
    color: lightgray;
}
.headerDown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.hi_there{
    flex: 1;
}
.headerButton{
    background-color: cornflowerblue;
    color: white;
    border: 1px solid black;
    padding: 0 1rem;
    border-radius: 1rem;
}
main{
    display: grid;
    grid-template-columns: 4fr 1fr;
    /* grid-template-rows: 5% 95%; */
  
}
.yourProjects{
    margin: 0.5rem;
    height: 100%;
}
.projectContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    
}
.projectContainer> div{
    background-color: white;
    border-radius: 1rem;
    border-left: 4px solid yellowgreen;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}
.projectContainer div div{
    padding: 1rem;
    font-size: 15px;
}
.projectIcon{
    height: 1rem;
    width: 1rem;
    display: inline-block;
    position: relative;
    left: 80%;
}
.announcements{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* gap: 0.5rem; */
    margin: 0.5rem;
}
.anuncio{
    background-color: white;
    font-size: 11px;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
}
.anuncio div{
    padding: 1rem;
}
.trending ul{
    list-style-type: none;
    padding-left: 0;
}
.trending img{
    width: 20%;
    height: auto;
    display: inline-block;
    border-radius: 100%;
}
.trending li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
